# 6.5.1 Set Up Google Maps and Places API
# 6.5.2 Create heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-01-26 00:12:59,-46.1927,168.8643,80.01,47,97,21.99
1,1,Cape Town,ZA,2021-01-26 00:12:04,-33.9258,18.4232,68.00,88,0,17.27
2,2,Yellowknife,CA,2021-01-26 00:12:59,62.4560,-114.3525,-20.00,69,75,9.22
3,3,Saint-Philippe,RE,2021-01-26 00:12:59,-21.3585,55.7679,77.00,73,0,6.91
4,4,Khatanga,RU,2021-01-26 00:12:59,71.9667,102.5000,-18.96,87,100,8.99

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Adjust Heatmap Zoom, Intensity, and Point Radius

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

## Create a Percent Humidity Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-01-26 00:12:59,-46.1927,168.8643,80.01,47,97,21.99
3,3,Saint-Philippe,RE,2021-01-26 00:12:59,-21.3585,55.7679,77.00,73,0,6.91
9,9,Concepcion Del Uruguay,AR,2021-01-26 00:13:00,-32.4825,-58.2372,87.01,41,0,1.99
14,14,Mar Del Plata,AR,2021-01-26 00:13:00,-38.0023,-57.5575,80.01,78,20,11.50
16,16,Hithadhoo,MV,2021-01-26 00:11:55,-0.6000,73.0833,81.32,73,99,5.35
18,18,Lethem,GY,2021-01-26 00:13:01,3.3803,-59.7968,80.96,57,95,9.60
29,29,Hilo,US,2021-01-26 00:13:03,19.7297,-155.0900,77.00,73,90,9.22
30,30,Kudahuvadhoo,MV,2021-01-26 00:13:03,2.6708,72.8944,81.14,79,100,15.21
31,31,Byron Bay,AU,2021-01-26 00:13:03,-28.6500,153.6167,81.00,61,40,9.22
33,33,Avarua,CK,2021-01-26 00:13:03,-21.2078,-159.7750,86.00,70,40,14.97

In [13]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [14]:
preferred_cities_df = preferred_cities_df.dropna()

In [15]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

# 6.5.4 Map Vacation Criteria
## Get Travel Destinations

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
0                  Mataura      NZ     80.01 -46.1927  168.8643
3           Saint-Philippe      RE     77.00 -21.3585   55.7679
9   Concepcion Del Uruguay      AR     87.01 -32.4825  -58.2372
14           Mar Del Plata      AR     80.01 -38.0023  -57.5575
16               Hithadhoo      MV     81.32  -0.6000   73.0833
18                  Lethem      GY     80.96   3.3803  -59.7968
29                    Hilo      US     77.00  19.7297 -155.0900
30            Kudahuvadhoo      MV     81.14   2.6708   72.8944
31               Byron Bay      AU     81.00 -28.6500  153.6167
33                  Avarua      CK     86.00 -21.2078 -159.7750

## Retrieve Hotels from a Nearby Search
### Set the Parameters for a Nearby Search
### Iterate Through hotel_df DataFrame

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mataura,NZ,80.01,-46.1927,168.8643,Ellie's Villa
3,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Concepcion Del Uruguay,AR,87.01,-32.4825,-58.2372,Aires del Campo Cabañas y Hotel
14,Mar Del Plata,AR,80.01,-38.0023,-57.5575,Gran Hotel Mar del Plata
16,Hithadhoo,MV,81.32,-0.6000,73.0833,Scoop Guest House
18,Lethem,GY,80.96,3.3803,-59.7968,Savannah Inn
29,Hilo,US,77.00,19.7297,-155.0900,Hilo Hawaiian Hotel
30,Kudahuvadhoo,MV,81.14,2.6708,72.8944,Niyama Private Islands Maldives
31,Byron Bay,AU,81.00,-28.6500,153.6167,Backpackers Inn on the Beach
33,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))